@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
button{
  outline: none;
}
html{
  height: 100%;
  min-height: 100%;
}
body{
  height: 100%;
}
#root{
  height: 100%;
}
/* .bold{
  font-weight: 700;
} */
.nav-sidebar-open .wrapper{
  position: fixed;
  transform: translateX(320px);
}
.nav-sidebar-open .wrapper::before{
  opacity: 1;
  visibility: visible;
}
.wrapper:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.wrapper{
  position: relative;
  width: 100%;
  min-width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: white;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}
#header{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  line-height: 73px;
  font-size: 13px;
  font-weight: 400;
  background-color: #FFFFFF;
  z-index: 3000;
  box-shadow: 0 1px 3px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
}

body.ht-visible #header {
  position: fixed;
  height: 70px;
}

.header-main{
  position: relative;
  height: inherit;
  display: flex;
  border-bottom: 1px solid #E6EAEA;
}
#header .item{
  padding: 0px 23px;
}
.bt-menu{
  min-width: 115px;
  height: 70px;
  border-right: 1px solid #E6EAEA;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;;
  /* ADJUST TRANSITION IF NEEDED */
}
.bt-menu span{
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}
.bt-menu .ico-menu{
  top: -1px;
  margin-right: 10px;
  vertical-align: middle;
}
.ico-menu{
  position: relative;
  display: inline-block;
  width: 15px;
  height: 13px;
}
.ico-menu .bar:nth-child(1){
  top: 0px;
}
.ico-menu .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  overflow: hidden;
}
.ico-menu .bar:nth-child(2){
  top: 4px;
}
.ico-menu .bar:nth-child(3){
  top: 8px;
}
.ico-menu .bar::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #A6ABAB;
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 1;
  transition: 0.3s;
}
.ico-menu .bar:nth-child(1)::after{
  transition-delay: 0.1s;
}
.ico-menu .bar:nth-child(2)::after{
  transition-delay: 0.2s;
}
.ico-menu .bar:nth-child(3)::after{
  transition-delay: 0.3s;
}
.bt-menu:hover .ico-menu .bar::after{
  left: 0px;
}
.bt-menu:hover{
  color: #64686A;
}
#header .header-main>.boxright{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
#bt-delivery{
  position: relative;
  width: 190px;
  height: 69px;
  padding: 0 !important;
  overflow: hidden;
  border-left: 1px solid #E6EAEA;
}
#bt-delivery .button{
  width: 190px;
  height: inherit;
  padding: 0px;
  line-height: 73px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#bt-delivery > .button-small{
  display: none;
}
.button{
  position: relative;
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
  background-color: white;
  text-decoration: none;
  font-weight: 500;
}
.button:hover{
  color: black;
  background-color: rgba(166, 171, 171, 0.103);
}
.button span{
  position: relative;
  z-index: 1;
}
.logo-header{
  display: block;
  position: absolute;
  /* top: 0px; */
  left: 50%;
  width: auto;
  height: 70px;
  line-height: normal;
  transform: translateX(-50%);
}
.logo-link{
  display: block;
  height: inherit;
}
.logo-link img{
  height: 100%;
}
/* NAVMENU COMPONENT */
.nav-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  background: white;
  overflow-y: auto;
  z-index: 305;
  transform: translateX(-320px);
}
.nav-main .header{
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  font-size: 13px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border-bottom: 1px solid #E6EAEA;
  z-index: 1;
}
.pull-left{
  float: left;
}
.pull-left img{
  vertical-align: middle;
  height: 45px;
}
.pull-right{
  float: right;
}
.nav-main .bt-close{
  cursor: pointer;
  padding-right: 30px;
  overflow: hidden;
  z-index: 1;
}

.bt-close::before{
  content: '';
  position: absolute;
  top: 33px;
  right: 27px;
  width: 20px;
  height: 3px;
  background: black;
  transform: rotate(45deg);
}
.bt-close::after{
  content: '';
  position: absolute;
  top: 33px;
  right: 27px;
  width: 20px;
  height: 3px;
  background: black;
  transform: rotate(-45deg);
}
.nav-main .menu{
  display: block;
}
li{
  display: list-item;
  list-style: none;
}
.nav-main .link-item{
  position: relative;
  display: block;
  padding:24px 36px;
  font-size: 17px;
  /* font-weight: 500; */
  color: black;
  cursor: pointer;
  background: white;
  border-bottom: 1px solid #E6EAEA;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.nav-main .link-item:hover{
  background-color: rgba(166, 171, 171, 0.103);
    transition: background 0.3s ease-in-out;
}
/* CurrentTime Component */
.dateComponent{
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 50px 0px;
  padding: 0px 65px;
  z-index: 10;
}
.bottom-box-container{
  font-size: 17px;
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: #fcfcfc;
}
.image{
  display: block;
  height: 100%;
}
/* Home-Wrapper */
.Home-Wrapper{
  display: block;
  position: relative;
  padding-top: 70px;
}
/* Carousel Component */
.carousel-container{
  position: relative;
}
.box-bg.has-tablet{
  position: relative;
  height: 600px;
  overflow: hidden;
}
.box-bg.has-tablet::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: black;
  z-index: 10;
  opacity: 0.5;
}
.showBG{
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  transition: opacity 200ms ease;
}
.showBG[aria-hidden="true"]{
  opacity: 0;
  z-index: -1;
}
.backgroundImage{
  height: inherit;
  width: 100vw;
  object-fit: cover;
  background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat;
}
.box-content{
  display: block;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
.inner{
  height: 100%;
  position: relative;
  width: 1905px;
  max-width: 100%;
  margin: 0 auto;
  clear: both;
  padding: 0px 65px;
  z-index: 2000;
}
.verticle-center{
  display: flex;
  align-items: center;
  min-height: 100%;
}
.box-info{
  display: block;
  text-align: center;
  margin: 0px auto;
  transition: opacity 200ms ease;
}
.background_warning{
  display: block;
  background-color: rgb(97, 97, 97);
  width: 100vw;
  height: 100vh;
  position: relative;
}
.row{
  display: block;
}
.row > h1{
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.row > p {
  margin: 0px auto;
  max-width: 70%;
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 1.56;
  font-weight: lighter;
}
.carousel_button {
  color: #fcfcfc;
  border-color: #fcfcfc;
  border: 1px solid;
  position: relative;
  display: inline-block;
  height: 34px;
  padding: 0px 23px;
  border-radius: 50px;
  line-height: 31px;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  background-color: transparent;
}
.carousel_button:hover{
  color: #49c5b6;
  border-color: #49c5b6;
}
.covid_link{
  color: #fcfcfc;
  border-color: #fcfcfc;
  border: 1px solid;
  position: relative;
  display: inline-block;
  height: 34px;
  padding: 0px 23px;
  border-radius: 50px;
  line-height: 31px;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
}
.covid_link:hover{
  color: #49c5b6;
  border-color: #49c5b6;
}
.space_between{
  margin-right: 15px;
}
.button_container {
  display: flex;
  justify-content: center;
}
.SlideNav {
  position: absolute;
  bottom: 36px;
  display: flex;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, 0px);
}
.SlideNavItem > button {
  all: unset;
  cursor: pointer;
  border-radius: 50%;
  height: 2em;
  width: 2rem;
  margin: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.SlideNavItem > button:focus-visible {
  background-color: hsla(0, 100%, 100%, 0.33);
}

.SlideNavItem > button > span {
  background: hsla(0, 100%, 100%, 0.25);
  display: inline-block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.SlideNavItem > button[aria-current="true"] > span {
  background: hsla(0, 100%, 100%, 0.75);
}
/* block_02) */
.block_02{
  position: relative;
  width: 100%;
  background-color: #F4F7F6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.block_wrapper{
  width: 100%;
  max-width: 1190px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box_content{
  flex: 1 1 31%;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(102, 102, 102, 0.8);
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}
.image_contain{
  display: block;
  position: relative;
  z-index: 2;
  height: 300px;
  width: 100%;
}
.locations_img{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
.services_img{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
.delivery_img{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
.description_flex{
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 1.5rem 1rem;
}
.description_heading{
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.description_heading > h2 {
  font-size: 1.9rem;
  font-weight: 400;
  text-transform: capitalize;
}
.description_p{
  text-align: center;
  line-height: 1.56;
  margin-bottom: 20px;
  font-weight: lighter;
}
.description_p > p {
  font-size: 18px;
}
.description_link{
  display: block;
  text-align: center;
}
/* block_03 */
.block_03{
  max-width: 1190px;
  margin: 0px auto;
  height: auto;
  position: relative;
  overflow: hidden;
}
.container_03{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about_container_03{
  width: 50%;
  padding: 50px 2rem;
}
.about_container_032{
  width: 50%;
  height: auto;
  padding-right: 2rem;
}
.image-container{
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.about_image{
  position: relative;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(102, 102, 102, 0.8);
  z-index: 3;
}
.heading_03{
  display: block;
  position: relative;
}
.heading_03 > h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 38px;
  line-height: 1.2;
}
.heading_03 > span{
  width: 40%;
  position: relative;
  height: 3px;
  display: block;
  background-color: rgb(11, 107, 191);
  margin-bottom: 50px;
}
.description_container_03{
  display: block;
  position: relative;
}
.description_container_03 > p{
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: lighter;
}
.learn_more_03{
  display: block;
  position: relative;
  display: block;
}
.learn_more_link_03{
  display: block;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(11, 107, 191);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  /* padding: .8rem 0; */
}
.learn_more_link_03::after{
content: " \203A";
}
.video_container_03{
  width: 50%;
  padding: 50px 2rem;
  overflow: hidden;
}
.video_wrapper_03{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.wistia_responsive_wrapper{
  box-shadow: #A6ABAB;
  box-shadow: 0px 0px 10px 1px rgba(102, 102, 102, 0.8);
}
.on850{
  display: none;
}
/* block_032 */
.block_032{
  width: 100%;
  display: block;
  position: relative;
  height: auto;
  background-color: #F4F7F6;
}
.wrapper_032{
  max-width: 1190px;
  margin: 0 auto;
}
.items_032{
  display: block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}
.items_wrapper_032{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 2rem 50px;
  justify-content: space-between;
}
.item_container_032{
  display: block;
  height: auto;
  width: 20%;
}
.icon_container_032 > i{
  margin-bottom: 20px;
}
.title_032{
  display: block;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.summary_032{
  display: block;
  position: relative;
}
.summary_032 > p{
  line-height: 1.56;
  text-align: left;
  font-size: 18px;
  font-weight: lighter;
}
.bold{
  font-weight: 700;
}
.fas.fa-leaf.fa-lg{
  color: rgb(11, 107, 191);
}
.fas.fa-handshake.fa-lg{
  color: rgb(11, 107, 191);
}
.fas.fa-sitemap.fa-lg{
  color: rgb(11, 107, 191);
}
.fas.fa-calendar-day.fa-lg{
  color: rgb(11, 107, 191);
}
/* block_04 */
.block_04{
  display: block;
  background-color: white;
  padding-bottom: 40px;
  padding-top: 40px;
}
.home-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 75em;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}
.coupon_container{
  width: 48.5%;
  padding: 10px;
  display: block;
  position: relative;
  background-color: #F4F7F6;
}
.coupons_link_cont{
  display: block;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(11, 107, 191);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
}
.coupons_link_cont::after{
  content: " \203A";
}
.inner_container{
  height: 100%;
  width: 100%;
  border: 3px solid #13294b9a;
  padding: 30px;
}
.coupon_image{
  width: 100%;
  display: block;
  text-align: center;
}
.fas.fa-money-check-alt{
  color: rgb(11, 107, 191);
}
.coupons_heading{
  display: block;
  text-align: center;
  margin-top: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
}
.coupons_p{
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  line-height: 1.5;
}
.form-broder{
  width: 48.5%;
  display: block;
  padding: 10px;
  background-color: #F4F7F6;
  z-index: 2;
}
.form-container{
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border:3px solid #13294b9a;
}
.form-heading{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2;
  color: rgb(11, 107, 191);
}
.form-p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 18px;
}
.formik{
  width: 100%;
}
.formik > div> input{
  padding: .5em;
  font-size: inherit;
}
.name-container{
 display: flex; 
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-between;
 margin-bottom: .75rem;
}
.email-container{
  margin-bottom: .75rem;
}
.email-container > input{
  width: 100%;
}
.button-container{
  display: block;
  width: auto;
}
.submit-button{
  display: block;
  width: 25%;
  padding: .8em;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.submit-button:hover{
  color: #5C9DC2;
  border-color: #5C9DC2;
  transition: all 0.3s ease;
}
.input-label{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: block;
  margin-bottom: .25rem;
}
.first-name-input{
  width: 48.5%;
}
.last-name-input{
  width: 48.5%;
}
.right-content{
  display: block;
  width: 48.5%;
  padding: 1.5rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: #A6ABAB;
  box-shadow: 0px 0px 10px 1px rgba(158,158,158,0.8);
  border-radius: 5px;
  background-color: #F4F7F6;
}
.fa-dollar-sign{
  overflow: visible;
  position: absolute;
  color: black;
  background-repeat: repeat-x;
}
.coupon{
  display: block;
  position: relative;
  background-color:transparent;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  min-height: 250px;
}
.coupon-h2{
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .25rem;
  font-size: 1.2rem;
  line-height: 1.2;
}
.coupon-container{
 display: block;
 margin-bottom: .25rem;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}
.coupon-link-container{
  position: absolute;
  display: block;
  bottom: 0;
  cursor: pointer;
}
.coupon-link-container > a{
  display: block;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color:rgb(11, 107, 191);
  cursor: pointer;
  padding:.8rem 0;
}
.coupon-link-container > a::after{
  content: " \203A";
}

.error-message{
  display: block;
}
.error-flex{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}
.error-container{
  width: 100%;
  display: block;
  position: relative;
  top: -5px;
}
.error-container > span{
  color: red;
}
.email-error-message{
  color: red;
}
/* footer-widgets */
.footer-widgets{
  background-color: #F4F7F6;
  color: #202121;
}
.widget_text{
  margin-bottom: 10px;
}
.wrap{
  padding-top: 3rem;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 75em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.widget-wrap >h4{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  font-weight: 800;
  color: #13294B;
}
.widget-area{
  width: 24.5%;
  height: auto;
  display: block;
}
.widget-link{
  display: inline-block;
  color: #5C9DC2;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}
.form201{
  padding: 1.5rem;
  display: block;
  width: 48.5%;
}
.form201 > h2{
  font-family: 'Roboto', sans-serif;
  margin-bottom: .75rem;
  font-weight: 500;
}
.form201 > p{
  font-family: 'Roboto', sans-serif;
}
/* footer */
.footer{
  background-color: #F4F7F6;
  text-align: center;
}
.footer_container{
  max-width: 1190px;
  padding: 20px 60px 50px;
  margin: 0px auto;
  text-align: center;
}
.credits_logo{
  height: 100px;
  width: auto;
}
.copy{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.811);
}
/* SERVICES */
.services-wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.services-container{
  display: block;
  position: relative;
  max-width: 1190px;
  width: 100%;
  margin: 0px auto;
  font-family: 'Roboto', sans-serif;
}
.s-heading-p {
  display: block;
  width: 100%;
  text-align: center;
}
.services-heading{
  width: 80%;
  margin: 0px auto 3rem;
}
.s-heading-p > p{
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.8;
  margin-bottom: 40px;
}
.s-body-container{
  display: block;
  position: relative;
  width: 100%;
  padding: 0px 2rem;
  padding-bottom: 120px;
}
.border-container{
  box-shadow: 1px 1px 25px 3px rgba(161, 175, 185, 0.527);
  border-radius: 5px;
  z-index: 10;
}
.s-flex-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.service-container{
  display: block;
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 300px;
}
.service-container.description{
  padding:2rem;
}
.align-vertical{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.align-vertical > h2{
  display: block;
  font-size: 1.9rem;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgb(11, 107, 191);
}
.s-cont-p{
  display: block;
  line-height: 1.8;
  font-weight: lighter;
}
.service-image{
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.button-container-two{
  display: block;
  width: 100%;
  margin-top: 100px;
}
.button-wrapper{
  display: block;
  width: 100%;
  text-align: center;
}
.button-wrapper > a{
  text-decoration: none;
  font-size: 15px;
  padding: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.button-wrapper > a:hover{
  color: #5C9DC2;
  border-color: #5C9DC2;
  transition: all 0.3s ease;
}
/* LOCATIONS */
.offsetContainer{
  height: 100%;
}
.app_flex_container{
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-top: 70px;
  bottom: 0;
}
.Map{
  flex-basis: 60vw;
  order: 2;
  flex-shrink: 0;
  flex-grow: 0;
  padding-top: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.list_container{
  flex-basis: 40vw;
  order: 1;
  flex-grow: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  height: 100%;
}
.base{
  display: flex;
  flex-grow: 1;
  position: relative;
  overflow: scroll;
  flex-direction: column;
  justify-content: space-between;
}
.locations_ul{
  list-style-type: none;
  flex-grow: 1;
}
.location_article{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  transition: background-color .2s ease-out;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
  border-bottom: 1px solid #E6EAEA;
}
.location_article.active{
  background-color: rgba(0,0,0,.1);
}
.button_overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}
.flex_container_locations{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button_overlay_header{
  display: flex;
  flex-direction: column;
}
.location_title{
  font-weight: 700;;
}
.location_city_container{
  font-size: .9rem;
  margin-top: 3px;
  font-weight: 400;
}
.items_icons{
  display: flex;
}
.info_button{
  position: relative;
  background: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer; 
}
.moreInfoButton{
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(11, 107, 191);
  font-family: 'Roboto', sans-serif;
}
.moreInfoButton::after{
  content: " \203A";
}
#Overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#Overlay.invisible{
  visibility: hidden;
}
.overlay_container{
  right: 60vw;
  top: 70px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #fff;
  overflow-y: scroll;
  opacity: 0;
}
.overlay_container.visible{
  opacity: 1;
  visibility: visible;
  transition: opacity .2s ease-in;
}
.flex_container_overlay{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.overlay_header{
  height: 44px;
  margin:1.6rem;
  position: relative;
}
.bt-close-two{
  display: block;
  position: absolute;
  height: 44px;
  width: 44px;
  right: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.flex_grow{
  flex-grow: 1;
}
.more_info_article{
  display: block;
  font-family: 'Roboto', sans-serif;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.pb{
  padding-bottom: 2rem;
  display: block;
}
.header_block{
  padding-bottom: 1rem;
}
.header_block > h1{
  font-size: 1.5em;
  line-height: 1.4;
}
.address_block{
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}
.address_container_two{
  padding-bottom: 1.6rem;
}
.address_container_two > p{
  font-size: .9rem;
}
.address_container_two > p > span {
  display: block;
  line-height: 1.6;
}
.address_links{
  flex-grow: 0;
  flex-shrink: 1;
}
.address_links > a{
  display: block;
  color: black;
  font-size: .9rem;
  line-height: 1.6;
}
.address_links > a:hover{
  text-decoration: none;
}
.call_phone_link{
  padding-bottom: .5rem;
}
.getDirectionsLink{
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.fas.fa-phone{
  margin-right: 5px;
}
.fas.fa-directions{
  margin-right: 5px;
}
.pb2{
  padding-top: 2rem;
}
.hours_heading{
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: .5rem;
  color : rgba(0,0,0,.56) !important;
}
.sb_rule{
  border: 0;
  margin: 0;
  padding-bottom: 1.5rem;
}
.sb_rule::before{
  content: "";
  display: block;
  border-top: 1px solid rgba(0,0,0,.1);
}
.operations_hours{
  display: table;
  width: 100%;
  max-width: 350px;
  list-style: none;
  font-size: .9rem;
}
.list_item_hours{
  display: table-row; 
}
.list_item_hours > span {
  line-height: 1.4;
}
.scheduleDay{
  padding-top: 8px;
  display: table-cell;
  font-weight: 600;
}
.scheduleTime{
  padding-top: 8px;
  text-align: right;
}
.pn3{
  padding-top: 2rem;
  padding-bottom: 0px;
}
.services_ul{
  font-size: .9rem;
}
.services_ul > li{
  display: inline-block;
  width: 50%;
  padding-right: 2%;
  padding-top: 8px;
  vertical-align: top;
  margin-top: 16px;
}
.services_ul > li:nth-of-type(-n+2){
  margin-top: 0;
}
/* COUPONS */
.page_wrapper {
  display: block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: white;
}
.page_container {
  max-width: 1190px;
  width: 100%;
  margin: 0px auto;
  display: block;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.page_heading{
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #F4F7F6;
  margin-bottom: 3rem;
}
.page_heading > h1 {
  line-height: 1;
  max-width: 1190px;
  margin: 0px auto;
  padding: 2.25rem 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 400;
}
.page_description{
  max-width: 44rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.page_p{
  line-height: 1.5;
}
.page_description:after{
  content: "";
  display: block;
  border-top: 2px solid rgb(11, 107, 191);
  width: 25%;
  margin: 0 auto;
  margin-top: 30px;
}
.coupons_main{
  display: block;
  position: relative;
  margin: 0px auto;
  max-width: 60em;
  margin-bottom: 40px;
}
.page_flex{
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex_box {
  width: 45%;
  border: 2px dotted rgb(11, 107, 191);
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}
.coupon_logo{
  display: block;
  float: left;
  margin-bottom: .75rem;
  height: 48px;
}
.coupon_expiration{
  float: right;
  height: 48px;
  position: relative;
}
.expiration {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: .8rem;
}
.coupon_logo > img {
  height: inherit;
}
.coupon_heading{
  display: block;
  clear: both;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  color: rgb(11, 107, 191);
}
.coupon_title{
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
}
.coupon_description{
  display: block;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}
.services-heading > h2{
  display: block;
  position: relative;
  margin-bottom: 40px;
  font-size: 1.9rem;
  text-align: center;
  font-weight: 400;
  color: black;
}
/* ALTERATIONS */
.alterations-container{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
}
.alterations-wrapper{
  display: block;
  position: relative;
  max-width: 1190px;
  width: 100%;
  height: auto;
  margin: 0px auto;
  padding: 0px 2rem;
}
.heading-title{
  display: block;
  position: relative;
  max-width: 100%;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
}
.copy-title{
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
.copy-wrapper{
  display: block;
  position: relative;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
.copy-container{
  display: block;
  position: relative;
}
#copy-heading{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}
#quote{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 23px;
  line-height: 35px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.copy-container > h2{
  font-weight: 500;
  font-size: 28px;
}
.copy-container > p{
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  font-weight: lighter;
}
.alt02-section{
  display: block;
  position: relative;
  margin-top: 40px;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.alt-flex-wrapper{
  display: flex;
  position: relative;
  flex-direction: row;
  height: 400px;
}
.alt-half{
  display: block;
  width: 50%;
}
.alterations-image{
  width: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  top: 50%;
  transform: translateY(-50%);
}
#right-copy{
  background-color:#f4f7f6;
  padding: 0px 5rem;
}
.copy-align-middle{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.copy-align-middle > h2{
  font-size: 2rem;
  font-family: 'Robooto', sans-serif;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}
.copy-align-middle > p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.56;
  text-align: center;
}
.heading-sect03{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}
.copy-sect03{
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 18px;
  font-weight: lighter;
  line-height: 28px;
  margin-bottom: 20px;
}
.button-style{
  display: inline-block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  border-radius: 3px;
  margin-bottom: 4rem;
}
.button-style:hover{
  border-color: green;
  color: green;
}
/* BLOCK-video */
.block-video{
  display: block;
  position: relative;
  width: 100vw;
  min-height: 500px;
  height: 500px;
  overflow: hidden;
}
.content-wrapper{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}
.video-wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.webmVideo{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-wrapper::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 100%);
  background-position: center center;
  z-index: 2;
  /* opacity: 0.4; */
}
.flex-wrapper{
  max-width: 1190px;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  z-index: 20;
}
.action-container{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content-div{
  display: block;
  width: 50%;
  position: relative;
  color: white;
  font-family: 'Roboto', sans-serif;
  top: 50%;
  transform: translateY(-50%);
}
.content-div h2 {
  display: block;
  font-size: 38px;
  margin-bottom: 20px;
}
.content-div p {
  display: block;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 20px;
  line-height: 1.56;
}
.content-div button{
  background-color: transparent;
  border: none;
}
.flex-container-button{
  display: flex;
  position: relative;
  height: inherit;
  flex-direction: row;
  cursor: pointer;
}
.fa-icon-container{
  display: inline-block;
}
.fa-play-circle{
  color: white;
}
.span-wrapper{
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.flex-container-button span{
  display: block;
  position: relative;
  color: white;
  font-size: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.flex-reverse{
  display: flex;

}
/* MEDIA QUERIES */
@media(max-width: 1294px){
  .block_02{
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_container_03{
    width: 45%;
  }
  .video_container_03{
    width: 45%;
  }
  .background{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media(max-width: 1190px){
  .index_info_container{
    flex-direction: column;
  }
  .address_container{
    padding-bottom: 2rem;
  }
  .index_links_container{
    margin-left: 0px;
  }
  .address_block{
    flex-direction: column;
  }
  .s-container-two{
    padding-left: 25px;
    padding-right: 25px;
  }
  .action-container{
    padding-left: 4em;
    padding-right: 4rem;
  }
  .alt-flex-wrapper{
    flex-direction: column;
    height: auto;
  }
  .alt-half{
    width: 100%;
  }
  .alterations-image{
    top: 0;
    transform: none;
    max-height: 300px;
    height: 100%;
  }
  .copy-align-middle{
    top: 0px;
    transform: none;
  }
  .copy-align-middle{
    max-width: 680px;
    margin: 0px auto;
  }
  #right-copy{
    padding: 40px 2rem;
  }
}
@media(max-width: 1024px){
  .s-container{
    width: 47.5%;
  }
  .s-container:nth-child(1){
    margin-bottom: 50px;
  }
  .s-container:nth-child(2){
    margin-bottom: 50px;
  }
  .s-image-container{
    width: auto;;
  }
  .inner{
    padding: 0px 35px;
  }
  .feature{
    width: 45.5%;
  }
  .feature:nth-child(1){
    margin-bottom: 60px;
  }
  .feature:nth-child(2){
    margin-bottom: 60px;
  }
  .submit-button{
    width: 100%;
  }
  .s-image-container > img:nth-child(2){
    left: -25%;
  }
  .s_wrapper_01{
    flex-direction: column;
  }
  .store_container{
    width: 100%;
  }
  .store_img_container > img{
    left: 0;
    width: 100%;
    background-size: cover;
  }
  .locations_flex_wrapper{
    flex-direction: column;
  }
  .app_flex_container{
    flex-direction: column;
    padding-top: 0px;
  }
  .Map{
    order: 1;
    flex-basis: 40vh;
  }
  .list_container{
    flex-grow: 1;
    flex-basis: 0;
  }
  .locations_overflow{
    overflow: hidden;
  }
  .address_block{
    flex-direction: row;
  }
  body.locations_overflow #header{
    position: relative;
  }
  .offsetContainer{
    height: calc(100% - 70px);
  }
  .overlay_container{
    width: 100vw;
  }
  .more_info_article{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .a_i{
    width: 48%;
  }
  .feature-item{
    width: 50%;
  }
}
@media (max-width: 897px){
  .box_content{
    flex-basis: 45%;
    flex-grow: 0;
  }
}
@media (max-width: 850px){
  .block_04{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .block_03{
    width: 100%;
  }
  .about_container_03{
    width: 100%;
  }
  .about_container_032{
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 50px;
  }
  .video_container_03{
    width: 100%;
  }
  .item_container_032{
    width: 100%;
  }
  .item_container_032:nth-child(1){
    margin-bottom: 50px;
  }
  .item_container_032:nth-child(2){
    margin-bottom: 50px;
  }
  .item_container_032:nth-child(3){
    margin-bottom: 50px;
  }
  .locations_p_container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .home-form{
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .form-broder{
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .coupon_container{
    width: 100%;
    margin: 0px auto;
  }
  .description_container_03 > p{
    margin-bottom: 0px;
  }
  .page_flex_sub{
    flex-direction: column;
  }
  .flex_sub{
    width: 80%;
    margin: 0px auto;
  }
  .content_container{
    border-left: 1px solid #E6EAEA;
    border-right: 1px solid #E6EAEA;
  }
  .flex_jumbotron{
    width: 50%;
  }
  .content-div{
    width: 100%;
  }
}
@media (max-width: 850px){
  .s-flex-cont{
    flex-direction: column;
  }
  .service-container{
    width: 100%;
    flex-direction: column-reverse;
  }
  .flex-reverse{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 750px) {
  .imageContainer{
    width: 100%;
    padding: 0px 25px;
  }
  .imageContainer > img{
    width: 100%;
  }
  .row > p {
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .page_description{
    padding-left: 20px;
    padding-right: 20px;
  }
  .box_content{
    flex-basis: 47%;
    margin: 0;
    margin-bottom: 20px;
  }
  .form201{
    width: 100%;
  }
  .right-content{
    width: 100%;
  }
  .home-form{
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
  }
  .form-container{
    width: 100%;
    padding-left: 2rem;
  }
  .s-container{
    width: 100%;
  }
  .s-image-container > img:nth-child(1){
    left: 0;
  }
  .s-container:nth-child(3){
    margin-bottom: 50px;
  }
  .box-left {
    overflow: hidden;
  }
  .bt-menu {
    width: 65px;
    min-width: inherit;
  }
  .bt-menu > span {
    display: none !important;
  }
  #bt-delivery{
    width: auto;
  }
  #bt-delivery > .button-large{
    display: none;
  }
  .item-container{
    display: block;
    height: inherit;
  }
  #bt-delivery>.button-small{
    padding: 0px 23px;
    width: inherit;
    display: block;
  }
  .fas.fa-shipping-fast.fa-lg{
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
    color: rgb(68, 68, 68);
  }
  .box-bg.has-tablet{
    height: 500px;
  }
  .wrap{
    justify-content: space-evenly;
  }
  .widget-area{
    width: 48.5%;
  }
  .bottom-box-container{
    display: none;
  }
  .flex_box{
    width: 80%;
  }
  .feature-item{
    width: 100%;
  }
}
@media(max-width: 600px){
  .box_content{
    flex-basis: 80%;
    margin: 20px;
  }
  .locations_img{
    margin: auto;
  }
  .inner{
    padding: 0px 15px;
  }
  .backgroundImage{
    background-size: cover;
    width: 100%;
    height: 500px;
  }
  .row{
    margin-bottom: 25px;
  }
  .box-info{
    height: auto;
  }
  .feature{
    width: 98.5%;
    margin-bottom: 60px;
  }
  .flex_container_image{
    flex-direction: column;
  }
  .store_img_container{
    width: 100%;
    height: 250px;
  }
  .info_box_locations{
    width: 100%;
    margin-top: 20px;
    padding-left: 0px;
  }
  .button_container{
    flex-direction: column;
  }
  .space_between{
    margin-right: 0px;
    margin-bottom: 15px;
    width: 117px;
    left: 50%;
    transform: translateX(-50%);
  }
  .schedule_link{
    width: 172px;
    left: 50%;
    transform: translateX(-50%);
  }
  .service_list{
    width: 50%;
  }
  .flex_sub{
    width: 90%;
  }
  .a_i{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .action-container{
    padding: 0px 2rem;
    text-align: center;
  }
  .flex-container-button{
    flex-direction: column;
    width: 100%;
  }
  .span-wrapper{
    margin: 0px;
    margin-top: 20px;
  }
  .video-wrapper::before{
    background: rgb(0,0,0);
    background: linear-gradient(40deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 100%);
  }
  .s-body-container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .services-heading{
    width: 100%;
    padding: 0px 1rem;
  }
}
@media(max-width: 600px){
  .s-image-container > img:nth-child(1) {
    left: -25%;
  }
}
@media(max-width: 451px){
  .box_content{
    flex-basis: 100%;
    margin: 5px;
    margin-bottom: 20px;
  }
  .about_container_032{
    display: none;
  }
  .about_image{
    box-shadow: none;
    border-radius: 0px;
  }
  .service-container{
    height: 350px;
  }
}
@media(max-width: 400px){
  .address_block{
    flex-direction: column;
  }
  .flex_box{
    width: 90%;
  }
  .a_i{
    width: 100%;
  }
}